@charset "UTF-8";

#chatApp[data-is-admin="0"] .show-is-admin{
	display: none !important;
}
#chatApp[data-is-admin="1"] .hide-is-admin{
	display: none !important;
}

#chat-box{
	position: fixed;left:5px;right:5px;bottom:5px;top:5px;
	display: flex;
	/* flex-wrap: wrap; */
	/* flex: 1 1 0; */
	flex-direction: column;
}


#chat-box header.room{
	flex: 0 0 0;
	text-align: center;
	display: flex;
	flex-direction: row;
}
#chat-box header.room .subject{
	flex:1 0 0;
	font-size: 1.5em;
	font-weight: bold;
	/* display: flex;
	justify-content: center;
	align-items: center; */
}
#chat-box header.room .openModalSetting ,
#chat-box header.room .openModalRoom,
#chat-box header.room .openModalRoomManager
{
	flex:0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 1px;
}

#chat-box header.room .userCount{
	flex:0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}


#chat-box footer.input{
	flex: 0 0 0;
}

#chat-box div.content{
	flex: 1 0 0;
	display: flex;
	flex-direction: row;
	min-height: 0;
}

#chat-box div.content article.msgs{
	flex: 1 0 300px;
	padding: 5px 0;
	height: 100%;
	overflow-y: hidden;
}

.msg .nick{
	font-weight: bold;
	margin-right: 0.5em;
}
.msg .val{
	white-space: pre-wrap;
	word-break: break-all;
}

#chat-box div.content aside.users{
	flex: 0 1 200px;
	padding: 5px;
	position: relative;
	min-width:100px;
}


#chat-box div.content aside.users .list-group-item{

}

#chat-box div.content aside.users .list-group-item[data-is-admin="1"]::before{
	content: "👑";
	margin-right: 0.5em;
}

.text-overflow-ellipsis{
	white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

#chat-box .scroll-y{
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	padding: 0 5px;

}

.msg[data-fun="notice"] .nick,
.msg[data-fun="error"] .nick,
.msg[data-fun="whisper"] .nick,
.msg[data-fun="system"] .nick{
	text-transform: uppercase;
}
.msg[data-fun="notice"]{
	background-color: #fffacd;
	font-weight: bold;
}
.msg[data-fun="error"]{
	background-color: #ff7f50;
	font-weight: bold;
}
.msg[data-fun="whisper"]{
	background-color: #add8e6;
	font-weight: bold;
}
.msg[data-fun="system"]{
	background-color: #d2691e;
	font-weight: bold;
	color: #fff;
}
